/*@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);*/

.fileMenu {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
    list-style: none;
    padding: 0 0 0 5px;
    margin: 0;
    background: rgba(255,255,255,.85);
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    color: 000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.fileMenu ul {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    min-width: 250px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    color: #000;
    font-weight: 300;
}

.fileMenu > li {
    display: inline-block;
    padding: 3px 5px;
    margin: 0;
}

.fileMenu > li.selected {
    background: #007bff;
    color: #fff;
    font-weight: 400;
}

.fileMenu li {
    cursor: default;
    transition: all .1s;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.fileMenu li.divider {
    margin: 3px 0;
    height: 1px;
    background: #b3b3b3;
    pointer-events: none;
}

.fileMenu li i {
    font-size: .8em;
    text-align: center;
    color: #444;
    transition: all .1s;
    
}

.fileMenu li i:before {
    position: relative;
    top: -.1em;
}

.fileMenu > li.selected > i,
.fileMenu ul li:hover > i {
    color: #ebebeb;
}

.fileMenu ul li {
    line-height: 1.5em;
    padding: 0 5px;
}

.fileMenu ul li.toggle.active i:before {
    content: '\f00c';
}

.fileMenu ul li.disabled {
    color: #999;
    pointer-events: none;
}

.fileMenu ul li.disabled i {
    color: #aaa;
}

.fileMenu ul li.sub:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f0da';
    float: right;
    color: #999;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    line-height: inherit;
    transition: all .1s;
}

.fileMenu ul li.sub:hover:after {
    color: #fff;
}

.fileMenu ul li:hover {
    background: #007bff;
    color: #fff;
    font-weight: 400;
}

.fileMenu ul li:last-child {
    border-radius: 0 0 5px 5px;
}

.fileMenu ul li:hover ul {
    display: block;
}

.fileMenu ul li kbd {
    float: right;
    font-weight: 300;
    font-family: inherit;
    color: #999;
}

.fileMenu ul li ul {
    border-radius: 5px;
    position: absolute;
    margin-top: -70px;
}

.fileMenu ul li ul li:first-child {
    border-radius: 5px 5px 0 0;
}