/*General CSS*/
*	{ z-index: 10; }
body	{ max-width: 1440px; min-width: 960px; margin: 0 auto; padding: 0 5px; color: maroon; font-family: verdana, arial, sans-serif;}
h1,h2,h3,h4,p	{ margin: 0; }
h1	{ font-size: 1.9em; }
h2	{ font-size: 1.1em; }
h3	{ font-size: 1em; }
form	{ margin: 0; }
input { z-index: 1; }
input[type="text"], input[type="password"]	{ text-align: center; }
label	{ cursor: pointer; }
input[type="checkbox"], input[type="radio"]	{ cursor: pointer; }
input[type="file"]	{ display: inline-block; }
/*TOOLS*/
.ui-sys-hidden	{
	position: absolute; top: -9999px; left: -9999px; width: 1px; height: 1px; overflow: hidden; 
}
.ui-sys-show	{
	position: relative; top: 0; left: 0; width: auto; height: auto;
}
.ui-sys-clearboth { clear: both; }
.ui-sys-bg-grid-green	{
	background: white url("img/grid_green.png") repeat-y left top;
}
.oi { padding: 0; border: none; margin: 0; }
.ui-sys-body .ui-sys-error-message	{
	font-size: 0.8em; font-weight: bold; font-style: italic; text-align: center; color: red;
}
/*Beginning System*/
.ui-sys-main { max-width: 1280px; width: 96%; margin-left: auto; margin-right: auto; }
.ui-sys-main .ui-sys-front-header { margin-top: 28px; padding: 5px; border: 1px solid black; }
.ui-sys-main .ui-sys-front-header .ui-sys-front-logo {
	width: 128px; height: 128px; float: left; position: relative; padding: 1px; border: 1px dotted gold; margin-left: 2px; margin-right: 6px;
}
.ui-sys-main .ui-sys-front-header .ui-sys-front-logo img {
	width: 100%; height: 100%;
}
.ui-sys-main .ui-sys-front-header .ui-sys-front-header-1 {
	text-align: center; background-color: white; margin: 2px; margin-left: 24px; margin-right: 12px;
}
.ui-sys-main .ui-sys-front-header .ui-sys-front-header-1 .ui-sys-inst-name {
	font-size: 2em; font-weight: bold; padding: 1px; margin-top: 28px;
}
.ui-sys-main .ui-sys-front-header .ui-sys-front-header-1 .ui-sys-micro-data {
	font-size: 0.9em; font-style: italic;
}
.ui-sys-main .ui-sys-front-systemname {
	padding: 2px; margin: 2px; margin-top: 12px; background-color: black; color: white; text-align: center; font-weight: normal;
}
.ui-sys-main .ui-sys-front-topbutton {
	padding: 2px; text-align: right; margin: 1px; margin-top: 8px; padding-right: 32px; border: none; background-color: #cacaca;
}
.ui-sys-main .ui-sys-front-topbutton-1 {
	padding: 2px; margin: 2px; margin-top: 12px; background-color: black; color: white; text-align: center; font-weight: normal;
}
.ui-sys-main .ui-sys-front-systemname-1 {
	padding: 2px; text-align: center; margin: 1px; margin-top: 8px; padding-right: 32px; border: none; background-color: #cacaca; font-size: 1.3em; font-weight: bold;
}
.ui-sys-main .ui-sys-front-content {
	margin-top: 12px; padding-bottom: 6px; border-bottom: 1px solid black;
}
.ui-sys-main .ui-sys-front-content .ui-sys-front-left-panel {
	float: left; width: 60%;
}
.ui-sys-main .ui-sys-front-content .ui-sys-front-right-panel	{
	float: left; width: 40%; 
}
.ui-sys-main .ui-sys-front-content .ui-sys-front-right-panel .ui-sys-login-panel {
	overflow: hidden; padding: 1px; width: 100%; margin-left: auto; margin-right: auto; background-color: white
}
.ui-sys-main .ui-sys-center-text {
	text-align: center;
}
.ui-sys-main .ui-sys-center-block {
	width: 92%; margin-left: auto; margin-right: auto;
}
.ui-sys-main .ui-sys-title-text-block {
	text-align: center; display: inline-block; width: 320px; margin-left: auto; margin-right: auto;
}
.ui-sys-main .ui-sys-server-date {
	padding: 1px; padding-left: 5px; float: left; font-size: 0.9em; font-style: italic;
}
.ui-sys-main .ui-sys-logged-in-text {
	font-size: 1em;
}
.ui-sys-main .ui-sys-accademic-year {
	font-size: 0.8em;
}
.ui-sys-float-left {
	float: left;
}
.ui-sys-float-right {
	float: right;
}
.ui-system-main	{
	position: relative;
}
.ui-sys-header	{
	margin-top: 32px; 
}
.ui-sys-body	{
	
}
.ui-sys-footer	{
	background-color: #add8e6/*gold*/; margin-top: 6px; padding-bottom: 6px;
}
.ui-sys-logo {
	float: left; width: 16%; height: 128px; padding: 1px; margin-right: 8px; border-right: 1px solid black; position: relative;
}
.ui-sys-logo img {
	width: 100%; height: 100%;
}
.ui-sys-header .ui-sys-header-1	{
	
}
.ui-sys-header .ui-sys-header-1-1	{
	float: left; width: 78%; font-size: 1.8em; font-weight: bold; padding-left: 8px; text-align: center;
}
.ui-sys-header .ui-sys-general-church-name	{
	font-size: 1.2em; margin-top: 5px;
}
.ui-sys-header .ui-sys-system-name	{
	margin-top: 6px; color: red; font-style: italic;
}
.ui-sys-header .ui-sys-header-2	{
	margin-top: 2px; text-align: center; font-size: 1.4em; background-color: black; color: white; font-style: italic;
}
.ui-sys-header .ui-sys-specific-church-name {
	font-size: 1.2em; font-weight: bold;
}
.ui-sys-header .ui-sys-tagline-text	{
	
}
.ui-sys-header .ui-sys-menu	li {
	list-style-type: none; float: left; width:128px; padding: 0; padding-bottom: 2px; background: white url("img/bottom.jpg") repeat-x left bottom; border: 1px solid gold; border-top: none; margin: 0; margin-right: 12px; font-size: 1em; text-align: center; display: block; 
}
.ui-sys-header .ui-sys-menu li a {
	text-decoration: none; background: white url("img/top.jpg") repeat-x left top; padding: 2px; border-top: 1px solid gold; text-decoration: none; cursor: pointer; display: block; color: black; font-weight: black; font-size: 1.2em; overflow: hidden;
}
.ui-sys-header .ui-sys-menu	li.ui-sys-menu-level-one-selected-item {
	list-style-type: none; float: left; width:128px; padding: 0; padding-bottom: 2px; background: white url("img/bottom_selected.jpg") repeat-x left bottom; border: 1px solid blue; border-top: none; margin: 0; margin-right: 12px; font-size: 1em; text-align: center; display: block; 
}
.ui-sys-header .ui-sys-menu li.ui-sys-menu-level-one-selected-item a {
	text-decoration: none; background: white url("img/top_selected.jpg") repeat-x left top; padding: 2px; border-top: 1px solid blue; text-decoration: none; cursor: pointer; display: block; color: black; font-weight: black; font-size: 1.2em; overflow: hidden;
}
.ui-sys-header .ui-sys-menu-level-one	{
	background-color: #5e5e5e; margin: 2px;
}
.ui-sys-header .ui-sys-menu-level-two 	{
	
}
.ui-sys-header .ui-sys-menu-level-three	{
	
} 
.ui-sys-header .ui-sys-logged-in-text	{
	font-size: 0.7em; 
}
.ui-sys-body .ui-sys-panel	{
	padding: 1px; margin-top: 5px; margin-bottom: 5px;
}
.ui-sys-body .ui-sys-panel .ui-sys-panel-header	{
	font-size: 1.2em; font-weight: bold; text-align: center;
}
.ui-sys-body .ui-sys-panel .ui-sys-panel-body	{
	margin-top: 1px; margin-bottom: 1px; padding: 5px; z-index: 1;
}
.ui-sys-body .ui-sys-panel .ui-sys-panel-footer 	{
	text-align: center; font-size: 0.9em; font-style: italic; clear: both;
} 
.ui-sys-body .ui-sys-icon	{ 
	float: left; display: block; overflow: hidden; position: relative; margin: 5px; 
}
.ui-sys-body .ui-sys-icon a	{ 
	display: block; text-decoration: none; width: 128px; height: 128px; position: relative; top: 0; left: 0; cursor: pointer; 
}
.ui-sys-body .ui-sys-icon-enlarged	{ 
	float: left; display: block; overflow: hidden; position: relative; margin: 10px; 
}
.ui-sys-body .ui-sys-icon-enlarged a	{ 
	display: block; text-decoration: none; width: 224px; height: 224px; position: relative; top: 1; left: 1; cursor: pointer; 
}
.ui-sys-body .ui-sys-icon a img, .ui-sys-body .ui-sys-icon-enlarged a img	{ 
	width: 100%; height: 100%; 
}
.ui-sys-body .ui-sys-icon span	{ 
	display: inline-block; width: 100%; color: black; font-size: 0.8em; font-style: italic; text-align: center;  overflow: hidden; 
}
.ui-sys-body .ui-sys-icon-enlarged span	{ 
	display: inline-block; width: 100%; color: black; font-size: 1em; font-style: italic; text-align: center;  overflow: hidden; 
}
.ui-sys-body .ui-sys-search-box	{
	
}
.ui-sys-body .ui-sys-error-message	{
	font-size: 0.8em; font-weight: bold; font-style: italic; text-align: center; color: red;
}
.ui-sys-body .ui-sys-display-table	{
	border-collapse: collapse;
}
.ui-sys-body .ui-sys-display-table-logs	{
	border-collapse: collapse; font-family: Arial,Verdana,sans-serif; color: black; font-size: 12px;
}
.ui-sys-body .ui-sys-display-table td	{
	border: 1px dashed green; padding: 1px; background-color: #40e0d0; font-weight: bold;
}
.ui-sys-footer .ui-sys-important-links	{
	
}
.ui-sys-footer .ui-sys-contact-us	{
	
}
.ui-sys-footer .ui-sys-footer-panel	{
	padding: 12px 0;padding-left: 64px; 
}
.ui-sys-footer .ui-sys-copyright	{
	text-align: center; font-style: italic; font-size: 0.9em; background-color: black; color: white;
}
.ui-sys-oi-left	{
	padding: 0; border: none; margin: 0; float: left; position: relative;
}
.ui-sys-oi-left-one-third	{
	padding: 0; border: none; margin: 0; float: left; position: relative; width: 33%;
}
.ui-sys-oi-left-one-third-first	{
	padding: 0; border: none; margin: 0; float: left; position: relative; width: 33%;
}
.ui-sys-oi-left-one-third-last	{
	padding: 0; border: none; margin: 0; float: left; position: relative; width: 33%;
}
.ui-sys-oi-left-half	{
	padding: 0; border: none; margin: 0; float: left; position: relative; width: 50%;
}
.ui-sys-oi-left-forty-percent	{
	padding: 0; border: none; margin: 0; float: left; position: relative; width: 40%;
}
.ui-sys-oi-left-sixty-percent	{
	padding: 0; border: none; margin: 0; float: left; position: relative; width: 60%;
}
.ui-sys-oi-left-fill	{
	padding: 0; border: none; margin: 0; float: left; position: relative; width: 100%;
}
.ui-sys-clear-both	{
	clear: both;
}
.ui-sys-splitline	{
	height: 1px; padding: 0; border-top: 1px solid black; margin-top: 1px; margin-bottom: 1px;
}
.ui-sys-oi 	{
	padding: 0; border: none; margin: 0;
}
.ui-sys-oi-right	{
	padding: 0; border: none; margin: 0; float: right; position: relative;
}
.ui-sys-oi-right-one-third	{
	padding: 0; border: none; margin: 0; float: right; position: relative; width: 33%;
}
.ui-sys-oi-right-one-third-first	{
	padding: 0; border: none; margin: 0; float: right; position: relative; width: 33%;
}
.ui-sys-oi-right-one-third-last	{
	padding: 0; border: none; margin: 0; float: right; position: relative; width: 33%;
}
.ui-sys-oi-right-half	{
	padding: 0; border: none; margin: 0; float: right; position: relative; width: 50%;
}
.ui-sys-oi-right-forty-percent	{
	padding: 0; border: none; margin: 0; float: right; position: relative; width: 40%;
}
.ui-sys-oi-right-sixty-percent	{
	padding: 0; border: none; margin: 0; float: right; position: relative; width: 60%;
}
.ui-sys-oi-right-fill	{
	padding: 0; border: none; margin: 0; float: right; position: relative; width: 100%;
}

.ui-font-article	{
	text-align: justify;
}
.ui-sys-bg-grid-green	{
	background: white url("img/grid_green.png") repeat-y left top; clear: both;
}
.ui-sys-body .ui-sys-data-form	{
	
}
.ui-sys-body .ui-sys-data-table	{
	width: 92%; margin-left: auto; margin-right: auto;
}
.ui-sys-text-justify	{
	text-align: justify;
}
.ui-sys-body .ui-sys-news-slide-up	{
	
}
.ui-sys-body .ui-sys-news-slide-down	{
	
}
.ui-sys-body .ui-sys-inline-controls-right	{
	text-align: right; padding: 2px; padding-right: 120px;
}
.ui-sys-body .ui-sys-inline-controls-left	{
	text-align: left; padding: 2px; padding-left: 120px;
}
.ui-sys-body .ui-sys-inline-controls-center	{
	text-align: center; padding: 2px; 
}
.ui-sys-body .ui-sys-search-container	{
	text-align: center; margin-bottom: 16px; z-index: 0;
}
.ui-sys-body .ui-sys-search-container input[type="text"]	{
	
}
.ui-sys-body .ui-sys-search-container a	{
	text-decoration: none; display: inline-block; width: 40px; height: 40px; margin-left: 16px; position: relative; cursor: pointer; z-index: 0;
}
.ui-sys-body .ui-sys-search-container a img	{
	width: 100%; height: 100%; vertical-align: bottom; margin-bottom: -16px; z-index: 0;
}
.ui-sys-body .ui-sys-search-results	{
	text-align: center;
}
.ui-sys-body .ui-sys-search-results	table	{
	width: 80%; margin-top: 5px; margin-right: auto; margin-bottom: 5px; margin-left: auto;
}
.ui-sys-body .ui-sys-search-results	table a.ui-sys-search-results-icon	{
	text-decoration: none; display: inline-block; width: 40px; height: 40px; margin-left: 16px; position: relative; cursor: pointer;
}
.ui-sys-body .ui-sys-search-results	table a.ui-sys-search-results-icon img	{
	width: 100%; height: 100%; vertical-align: middle;
}
.ui-sys-body .ui-sys-search-results	table a.ui-sys-search-results-controls	{
	text-decoration: none; display: inline-block; width: 28px; height: 32px; margin-left: 16px; position: relative; cursor: pointer; vertical-align: bottom; margin-bottom: 1px;
}
.ui-sys-body .ui-sys-search-results	table a.ui-sys-search-results-controls img 	{
	width: 100%; height: 100%;
}
.ui-sys-body .ui-sys-sortable-selected	{
	background-color: blue; color: red; border: 1px solid white; font-size: 1.2em;
}
.ui-sys-body .ui-sys-search-controls	{
	margin-bottom: 16px;
}
.ui-sys-body .ui-sys-search-controls a	{
	text-decoration: none; display: inline-block; width: 40px; height: 40px; margin-left: 16px; position: relative; cursor: pointer;
}
.ui-sys-body .ui-sys-search-controls a img	{
	width: 100%; height: 100%; vertical-align: bottom; margin-bottom: -16px; margin-right: 4px;
}
.ui-sys-right	{
	margin-right: 20%; margin-left: auto; text-align: right;
}
.ui-sys-center-fill	{
	margin-top: 5px; margin-right: 5px; margin-bottom: 5px; margin-left: 5px; width: auto;
}
.ui-sys-center-90-percent	{
	margin-top: 5px; margin-right: auto; margin-bottom: 5px; margin-left: auto; width: 90%;
}
.ui-sys-center-80-percent	{
	margin-top: 5px; margin-right: auto; margin-bottom: 5px; margin-left: auto; width: 80%;
}
.ui-sys-center-70-percent	{
	margin-top: 5px; margin-right: auto; margin-bottom: 5px; margin-left: auto; width: 70%;
}
.ui-sys-center-60-percent	{
	margin-top: 5px; margin-right: auto; margin-bottom: 5px; margin-left: auto; width: 60%;
}
.ui-sys-center-50-percent	{
	margin-top: 5px; margin-right: auto; margin-bottom: 5px; margin-left: auto; width: 50%;
}
.ui-sys-center-40-percent	{
	margin-top: 5px; margin-right: auto; margin-bottom: 5px; margin-left: auto; width: 40%;
}
.ui-sys-header li.ui-sys-logout-button	{
	float: right; font-size: 0.8em;
}
.ui-sys-list-remove	{
	text-align: right; padding-right: 33%; font-size: 0.7em; 
}
.ui-sys-list-edit	{
	text-align: right; padding-right: 33%; font-size: 0.7em; 
}
.ui-sys-list-add	{
	text-align: right; padding-right: 33%; font-size: 0.7em; 
}
.ui-sys-control-icon	{
	display: inline-block; cursor: pointer; height: 28px; width: 28px; padding: 1px; position: relative; vertical-align: bottom;
}
.ui-sys-control-icon img	{ 
	width: 100%; height: 100%;
}
.ui-sys-graph-drawable	{ width: 90%; margin-left: auto; margin-right: auto; font-size: 0.9em; }
.ui-sys-graph-drawable thead .caption-header { font-size: 0.9em; font-style: italic; }
.ui-sys-graph-drawable tbody tr { height: 16px; margin-top: 10px; font-size: 12px; padding-top: 5px; }
.ui-sys-graph-drawable tbody td { border-left: 1px solid green; border-right: 1px solid green; }
.ui-sys-body .ui-sys-max-panel-height-limit	{
	padding: 1px; max-height: 320px; overflow-y: scroll;
}
.ui-sys-context-table .ui-sys-context-table-control-row {
	background-color: white;
}
/*Beginning Photo container*/
div.photocontainer .photodisplay	{
	position: relative; padding: 1px; border: 1px solid black; margin: 1px; width: 192px; height: 192px; margin-right: 32px; float: left;
}
div.photocontainer .photodisplay img	{
	width: 100%; height: 100%;
}
div.photocontainer .photodata	{
	padding: 1px; float: left; line-height: 192px; 
}
div.photocontainer .photodata .ui-sys-file-upload	{
	cursor: pointer;
}
/*Ending Photo Container*/
/*Authorization default not allow, syslog enabled*/
div.ui-sys-authorize-syslog 	{
	text-align: center; width: 96%; margin-left: auto; margin-right: auto; margin-top: 5px; margin-bottom: 10px; font-size: 1.2em; color: red; border: 2px dotted red; padding: 4px;
}
.ui-sys-printable {
	padding: 1px; border: 1px dotted blue; margin-top: 44px; z-index: 1; position: relative;
}
.ui-sys-printable .ui-sys-printable-header {
	position: relative; margin-top: 2px; height: 132px; padding-bottom: 8px; border-bottom: 1px solid black; clear: both;
}
.ui-sys-printable .ui-sys-printable-controls {
	height: 40px; padding: 1px; margin: 0; /*margin-top: -42px;*/ border: none; position: relative; z-index: 10;
}
.ui-sys-printable-controls a	{
	text-decoration: none; display: inline-block; width: 32px; height: 32px; position: relative; margin-right: 48px; margin-left: 32px; float: right;  z-index: 100;
}
.ui-sys-printable-controls a img {
	width: 100%; height: 100%; cursor: pointer;
}
.ui-sys-printable-header .ui-sys-profile-logo	{
	position: relative; width: 128px; height: 128px; float: left;
}
.ui-sys-printable-header .ui-sys-profile-logo img {
	width: 100%; height: 100%;
}
.ui-sys-printable-header .ui-sys-header-content	{
	display: inline-block; margin-top: 16px; text-align: center; margin-left: 32px; margin-right: 32px;
}
.ui-sys-printable-header .ui-sys-header-content div {
	color: black; font-weight: bold; font-size: 1.4em; 
}
.ui-sys-printable-header .ui-sys-header-content span {
	color: blue; font-weight: bold; font-style: italic; font-size: 0.8em;
}
.ui-sys-printable-header .ui-sys-header-content span.ui-sys-admission-title {
	color: black; font-weight: bold; font-style: italic; font-size: 1.1em;
}
.ui-sys-printable-header .ui-sys-user-photo	{
	position: relative; width: 128px; height: 128px; float: right; display: inline-block;
}
.ui-sys-printable-header .ui-sys-user-photo img {
	width: 100%; height: 100%;
}
.ui-sys-printable-block {
	position: relative; margin-top: 12px;
}
.ui-sys-printable-block .ui-sys-printable-block-section	{
	background-color: gold;
}
.ui-sys-printable .ui-sys-printable-block-title {
	border: 1px dotted black; text-align: center; font-size: 1em; font-style: italic;
}
.ui-sys-printable .ui-sys-printable-list {
	padding: 1px; border: 1px dashed green; 
}
.ui-sys-printable-block .ui-sys-printable-section {
	float: left; width: 50%; padding: 0; border: none; margin: 0; 
}
.ui-sys-printable-section .ui-sys-printable-section-dimension	{
	padding: 1px; border: 1px dotted black;
}
.ui-sys-printable-section-dimension .ui-sys-printable-section-label {
	padding-left: 8px; padding-right: 16px; font-size: 0.8em;
}
.ui-sys-printable-section-dimension .ui-sys-printable-section-data {
	padding-left: 8px; font-size: 0.9em; color: blue; font-weight: bold;
}
.ui-sys-size-a4-potrait {
	width: 293mm; position: relative; margin-left: auto; margin-right: auto;
}
/*Block Editing*/
.ui-sys-field-block-container {
	
}
.ui-sys-field-block {
	position: relative; border: 1px dashed green; margin-top: 18px;
}
.ui-sys-field-block .ui-sys-field-block-title	{
	float: left; font-size: 1.3em; padding-left: 2px; padding-right: 2px; 
}
.ui-sys-field-block .ui-sys-field-block-remove, .ui-sys-field-block .ui-sys-field-block-remove-csv	{
	text-align: right; padding-right: 33%; font-size: 0.7em; clear: both;
}
.ui-sys-field-block .ui-sys-field-block-edit	{
	text-align: right; padding-right: 33%; font-size: 0.7em; 
}
.ui-sys-field-block-container .ui-sys-field-block-add, .ui-sys-field-block-container-csv .ui-sys-field-block-add-csv	{
	text-align: right; padding-right: 33%; font-size: 0.7em;
}
.ui-sys-field-block-container .ui-sys-field-block-add a {
	padding-left: 16px; padding-right: 16px;
}
.ui-sys-content-window-scrollable	{
	overflow-x: scroll; width: 100%; max-height: 600px; overflow-y: scroll; padding: 5px 2px; border: 1px solid gold; 
}
.ui-sys-agreement-container {
	position: relative; width: 80%; max-height: 600px; overflow-y: scroll; padding: 5px; border: 3px solid gold; margin: 5px; margin-left: auto; margin-right: auto;
}
.ui-sys-agreement-container .ui-sys-agreement-title	{
	font-size: 1.2em; font-weight: bold; text-align: center;
}
.ui-sys-agreement-container .ui-sys-agreement-content {
	
}
.ui-sys-agreement-container .ui-sys-agreement-controls	{
	text-align: right; padding: 5px; padding-right: 48px;
}
/*Modules*/
.ui-sys-main .ui-sys-profile-left-panel {
	float: left; position: relative; width: 18%; padding: 0; border: none; margin: 0; min-width: 160px; z-index: 100;
}
.ui-sys-profile-left-panel .module-summary	{
	margin: 2px; margin-top: 5px; margin-bottom: 5px; padding: 1px;
}
.ui-sys-main .ui-sys-profile-right-panel {
	float: left; position: relative; width: 82%; padding: 0; border: none; margin: 0; overflow-x: hidden; z-index: 10;
}
.ui-sys-profile-right-panel .module-container {
	margin: 2px; margin-top: 5px; margin-right: 16px; margin-bottom: 5px; padding: 1px; position: relative; z-index: 1;
}
div.module-dimension	{
	width: 98%; padding: 1%; margin-bottom: 2px; margin-left: auto; margin-right: auto;
}
form.form-module	{
	width: 100%; overflow-x: hidden;
}
form.form-module input, form.form-module select {
	 -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
	  width: 100%;
}
div.module-results-container {
	overflow-x: hidden; width: 100%; position: relative; font-size: 0.9em;
}
.ui-sys-main .profile-photo 	{
	position: relative; padding: 1px; border: 1px dotted black; margin: 1px; width: 144px; height: 144px;
}
.ui-sys-main .profile-photo img {
	width: 100%; height: 100%;
}
.ui-sys-main .module-title	{
	margin-top: 5px; display: inline-block; position: relative; z-index: 100; 
}
.ui-sys-main ul.ui-sys-profile-menu	{
	width: 144px;
}
.ui-sys-main ul.ui-sys-profile-menu ul {
	width: 144px;
}
.ui-sys-main ul.ui-sys-profile-menu a {
	text-decoration: none; color: black;
}
.ui-sys-main div.ui-sys-menubar {
	margin-top: 5px; margin-bottom: 5px;
}
.ui-sys-main ul.ui-sys-navigation-menu a	{
	text-decoration: none; color: black;
}
div.ui-sys-data-capture {
	width: 80%; margin-left: auto; margin-right: auto;
}
div.ui-sys-csv-data-center {
	width: 60%; margin-left: auto; margin-right: auto;
}
div.ui-sys-panel-container {
	background: white; border: 1px dashed green;  padding: 1px; margin: 5px; z-index: 1; position: relative; 
}
.ui-sys-main .ui-sys-warning {
	padding: 4px; border: 1px dotted white; margin: 5px; background-color: red; color: white; font-size: 0.9em; 
}
.ui-sys-main .ui-sys-csv-table {
	margin-top: 16px;
}
div.ui-sys-user-photo-detail	{
	display: inline-block; width: 128px; height: 128px; position: relative; z-index: 0;
}	
div.ui-sys-user-photo-detail img {
	width: 100%; height: 100%;
}
.ui-sys-firewall-all	{
	text-align: center;
}
/* Pickup panel */
div.ui-sys-pickup-container {
	padding: 1px; margin: 1px; position: relative; width: 90%; margin-left: auto; margin-right: auto;
}
div.ui-sys-pickup-container a {
	text-decoration: none;
}
div.ui-sys-pickup-container .ui-sys-pickup-panel	{
	float: left; width: 50%; padding: 0; border: none; margin: 0; position: relative;
}
div.ui-sys-pickup-container .ui-sys-pickup-panel .oi 	{
	padding: 1px; border: 1px dashed black; margin: 2px 5px;
}
div.ui-sys-pickup-container .ui-sys-pickup-panel .oi .title {
	font-weight: bold; font-size: 1.1em; text-align: center;
}
div.ui-sys-pickup-container .ui-sys-pickup-panel .oi a.selectable-item {
	display: block; margin: 2px; padding: 1px; margin-top: 3px; padding-left: 4px; cursor: pointer; overflow: hidden;
}
div.ui-sys-timetable-container {
	overflow-x: scroll;
}
table.ui-sys-timetable	{
	border-collapse: collapse; table-layout: fixed; width: 100%;
}
table.ui-sys-timetable thead	{
	display: block;
}
table.ui-sys-timetable tbody {
	position: relative; display: block;
}
table.ui-sys-timetable	tr {
	border: none; padding: 0; margin: 0; 
}
table.ui-sys-timetable th, table.ui-sys-timetable td	{
	width : 200px; height: 64px; border: 1px dashed gold; padding: 0; margin: 0;
}
table.ui-sys-timetable th, table.ui-sys-timetable td.reserved	{
	border: none;
}
table.ui-sys-timetable tbody	{
	position: relative;
}
table.ui-sys-timetable tbody td a	{
	text-decoration: none; cursor: pointer; display: inline-block; width: 198px; height: 62px; padding: 1px; border: none; margin: 0; position: absolute; overflow: hidden; /*You will alter left, right bk and color of text*/
}
.ui-sys-horizontal-scrollable {
	overflow-x: scroll;
}
div.ui-sys-transcript {
	font-size: 0.8em;
}
//Custom tooltip
.ui-tooltip-header	{
	font-weight: bold;
	font-size: 1.4em;
}
.ui-tooltip-body	{
	margin: 7px 0 7px 0;
	font-size: 1.2em;
}
.ui-tooltip-footer	{
	font-weight: bold;
	border-top: solid 1px;
	padding-top: 7px;
}
div.ui-sys-message	{
	padding: 5px; border: 1px dotted black; margin: 5px;
}
div.main-results-content	{
	padding: 1px; margin: 1px;
}
.ui-icon-customized	{
	display: inline-block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
}
a.ui-sys-icon-80-by-16	{
	text-decoration: none; padding: 0; margin: 0; margin-left: 2px; margin-right: 2px; border: 1px dotted black;
}
.ui-sys-icon-80-by-16	{
	top: 0; 
	left: 0;
	width: 80px;
	height: 16px;
	display: inline-block;
	background-image: url('img/sprite_80_x_16.png');
	background-repeat: no-repeat;
}
.icon-lock	{
	background-position: 0 0;
}
.icon-unlock	{
	background-position: -80px 0; 
}
.icon-publish	{
	background-position: -160px 0;
}
.icon-unpublish	{
	background-position: -240px 0;
}
.icon-compile	{
	background-position: -320px 0;
}
.icon-add-new	{
	background-position: -400px 0;
}
.icon-delete	{
	background-position: -480px 0;
}
.icon-download	{
	background-position: -560px 0;
}
.icon-edit	{
	background-position: 0 -16px;
}
.icon-nullify	{
	background-position: -80px -16px;
}
.icon-upload	{
	background-position: -160px -16px;
}
.icon-view	{
	background-position: -240px -16px;
}
.icon-share	{
	background-position: -320px -16px;
}
.icon-summary-results {
	background-position: -400px -16px;
}
#__id_general_dialog_holder	{
	z-index: 100;
}
/*Dealing With Fonts */
.font-family-1	{
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, Sans-serif;
}
.font-size-0-7-em	{
	font-size: 0.7em;
}
.font-size-0-8-em	{
	font-size: 0.8em;
}
.font-size-0-9-em	{
	font-size: 0.9em;
}
.font-size-1-0-em	{
	font-size: 1em;
}
.font-size-1-1-em	{
	font-size: 1.1em;
}
.font-size-1-2-em	{
	font-size: 1.2em;
}
.font-size-1-3-em	{
	font-size: 1.3em;
}
.font-size-1-4-em	{
	font-size: 1.4em;
}
.table-grid {
	border-collapse: collapse; width: 96%; margin-left: auto; margin-right: auto;
}
.table-grid	th, .table-grid td {
	border: 1px solid black;
}
/*Results Display*/
div.ui-results-container	{
	position: relative; margin-left: auto; margin-right: auto; background-color: white;/*padding: 1px; border: 1px dotted black;*/
}
/*Printing Icons */

a.menu-icon 	{
	text-decoration: none; display: inline-block; width: 32px; height: 32px; margin-left: 3px; margin-right: 3px; cursor: pointer;
}
a.menu-icon img {
	width: 100%; height: 100%;
}
table.ui-transcript-summary {
	
}
table.ui-transcript-summary th, table.ui-transcript-summary td {
	padding: 1px; border: 2px solid black;
}
div.special-button {
	padding: 0; border: none; margin: 0; float: left; width: 33%; position: relative; height: 128px; line-height: 128px;
}
div.special-button div {
	width: 96%; height: 98%; margin: auto; position: relative;
}
div.special-button a {
	text-decoration: none; display: inline-block; width: 100%; height: 100%; font-size: 1.6em; color: black; font-weight: bold; background-color: gold; border: 2px solid black; overflow: hidden; text-align: center; 
}
/*Background for detailed view */
div.display-background-black {
	background-color: black; border: 1px solid black; margin: 2px auto; padding: 5px 15px; overflow-x: scroll;
}
div.display-document	{
	background-color: white; color: black; font-size: 12px; padding: 5px; position: relative;
}
div.display-print-controls	{
	padding: 2px; padding-right: 64px; margin: 2px; text-align: right; border: 0.5px dashed red;
}
div.display-print-controls a {
	text-decoration: none; display: inline-block; width: 32px; height: 32px; margin-left: 2px; position: relative; cursor: pointer;
}
div.display-print-controls a img {
	width: 100%; height: 100%;
}
.vertical-text {
    width: 1px;
    word-wrap: break-word;
    font-family: monospace; /* this is just for good looks */
    white-space:	pre-wrap; /* this is for displaying whitespaces including Moz-FF.*/
}
/*Beginning Mobile Edition*/
@media only screen and (max-width: 768px)	{
	body	{
		font-size: 32px; text-align: center;
	}
	.mobile-collapse	{
		//float: none;
		width: 100%;
		//background-color: yellow;
	}
}