body { background: #e5e5e5; padding:13px; }
body.ui-mobile-viewport { padding: 0; }
body, input, textarea, select, button { font-family: Helvetica, Arial, sans-serif; }
.ui-mobile .type-home .ui-content { margin: 0; background: #e5e5e5; }
.ui-mobile #jqm-homeheader { padding: 40px 10px 0; text-align: center;  margin: 0 auto; }
.ui-mobile #jqm-homeheader h1 { margin: 0 0 ; }
.ui-mobile #jqm-homeheader p { margin: .3em 0 0; line-height: 1.3; font-size: .9em; font-weight: bold; color: #666; }

.footer-docs {
    padding: 5px 0;
    clear:both;
    color:#666;
}
.footer-docs p {
    font-weight: normal;
    font-size: .9em;
    margin: 1em 15px;
    float: left;
}

hr { border-width: 1px 0 0; border-style: solid none none; border-color: #ccc; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
strong { font-weight: bold; }

#jqm-homeheader img { width: 275px; height: 150px; margin-top:-20px; }
img { max-width: 100%; }
nav { margin: 0; }

p.intro {
    font-size: .96em;
    line-height: 1.3;
    border-top: 1px solid #3E6790;
    border-bottom: 0;
    background: none;
    margin: 1.5em 0;
    padding: 1.5em 15px 0;
}
p.intro strong {
    color:  #3E6790;
}

.type-interior .content-secondary {
    border-right: 0;
    border-left: 0;
    margin: 10px -15px 0;
    background: #fff;
    border-top: 1px solid #ccc;
}
.type-home .ui-content {
    margin-top: 5px;
    overflow: hidden;
    position: relative;
}
.type-interior .ui-content {
    padding-bottom: 0;
}
.content-secondary .ui-collapsible {
    padding: 10px 15px;
}
.content-secondary .ui-collapsible-inset {
    margin: 0;
}
.content-secondary .ui-collapsible-content {
    padding: 0;
    background: none;
}
.content-secondary .ui-listview {
    margin: 0;
}
.content-primary {
    margin-top: 30px;
}

/* layout */
@media all and (min-width: 650px){

    .type-home .ui-content {
        margin-top: 5px;
        background: #f00;
    }
    .ui-mobile #jqm-homeheader {
        max-width: 340px;
    }
    p.intro {
        margin: 2em 0;
    }
    .type-home .ui-content,
    .type-interior > .ui-content {
        padding: 0;
    }
    .type-interior > .ui-content {
        overflow: hidden;
    }
    .content-secondary {
        text-align: left;
        float: left;
        width: 45%;
    }
    .content-secondary,
    .type-interior .content-secondary {
        margin: 30px 0 20px 2%;
        padding: 20px 4% 0 0;
        background: none;
        border-top: none;
        position: relative;
    }
    .type-interior .content-secondary::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        height: 1px;
        width: 1px;
        margin-bottom: -9999px;
        padding-bottom: 9999px;
        background: #bbb;
    }
    .type-index .content-secondary {
        padding: 0;
    }
    .content-secondary .ui-collapsible {
        margin: 0;
        padding: 0;
    }
    .content-secondary .ui-collapsible-content {
        border-left: none;
        border-right: none;
    }
    .type-index .content-secondary .ui-listview {
        margin: 0;
    }
    .ui-mobile #jqm-homeheader {
        padding: 0;
    }
    .content-primary {
        width: 45%;
        float: right;
        margin-top: 30px;
        margin-right: 1%;
        padding-right: 1%;
    }
    .content-primary ul:first-child {
        margin-top: 0;
    }
    /* collapsible non-inset example */
    .content-primary .ui-collapsible-content ul:first-child {
        margin-top: -10px;
    }
    .content-secondary h2 {
        position: absolute;
        left: -9999px;
    }
    .type-interior .content-primary {
        padding: 1.5em 6% 3em 0;
        margin: 0;
    }
    /* fix up the collapsibles - expanded on desktop */
    .content-secondary .ui-collapsible-inset {
        margin-bottom: -1px;
    }
    .content-secondary .ui-collapsible-heading {
        display: none;
    }
    .content-secondary .ui-collapsible-contain {
        margin:0;
    }
    .content-secondary .ui-collapsible-content {
        display: block;
        margin: 0;
        padding: 0;
    }
    .content-secondary .ui-collapsible-content,
    .content-secondary .ui-collapsible-content > .ui-listview .ui-li-last {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .type-interior  .content-secondary .ui-li-divider {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .type-interior .content-secondary {
        margin: 0;
        padding: 0;
    }

}
@media all and (min-width: 750px){
    .type-home .ui-content {
        background-position: 39%;
    }
    .content-secondary {
        width: 34%;
    }
    .content-primary {
        width: 56%;
        padding-right: 1%;
    }
}

@media all and (min-width: 1200px){
    .type-home .ui-content{
        background-position: 38.5%;
    }
    .content-secondary {
        width: 30%;
        padding-right:6%;
        margin: 30px 0 20px 5%;
    }
    .type-interior .content-secondary {
        margin: 0;
        padding: 0;
    }
    .content-primary {
        width: 50%;
        margin-right: 5%;
        padding-right: 3%;
    }
    .type-interior .content-primary {
        width: 60%;
    }
}

#icon form > div > .ui-collapsible-content {
    padding: 10px 55px;
}
#picker {
    border: 1px solid;
    float: left;
    padding: 1em;
    background-color: #e4ccc1;
}

#picker input {
    width: 100%;
}

.features li p {
    white-space: normal;
}

.dark.ui-cs-chromoselector {
    background: #222233;
    background: rgba(34,34,41,0.95);
    border: 1px solid black;
}

#static_preview_picker {
    border: 1px solid;
    float: left;
    padding: 1em;
    background-color: #e4ccc1;
    margin: 1em;
}
#static_preview_picker div.ui-input-text {
    width: 45%;
}
#static_preview_picker label {
    width: 45%;
    vertical-align: baseline;
}

.jqm-wrapper {
    position: relative;
}
.jqm-open-dialog, .jqm-open-popup {
    position: absolute;
    top: -2px;
    right: 0;
}